ZEKO_NETWORK_ID=testnet
ZEKO_GRAPHQL=https://testnet.zeko.io/graphql
ZEKO_ARCHIVE_GRAPHQL=https://archive.testnet.zeko.io/graphql
ZEKO_EXPLORER=https://zekoscan.io/testnet
TX_FEE=100000000
ZKAPP_PREFUND_AMOUNT=1000000000
DEPLOY_VALUE=1
SET_VALUE=42
